name: Rust

on:
  push:
    branches: [main]
  workflow_dispatch:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  PROFILE: release

jobs:
  rust:
    # This workflow defines how a maven package is built, tested and published.
    # Visit: https://github.com/samply/github-workflows/blob/develop/.github/workflows/docker-ci.yml, for more information
    uses: samply/github-workflows/.github/workflows/rust.yml@main
    with:
        image-prefix: "samply/"
        components: '[ "ccp-patient-project-identificator" ]'
        architectures: '[ "amd64" ]'
        #profile: debug
        test-via-script: false
        #features: '[ "", "server" ]'
        push-to: ${{ (github.ref_protected == true || github.event_name == 'workflow_dispatch') && 'dockerhub' || 'ghcr' }}
    secrets:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
